
1.txt
4.html
4.txt
Group/KKU/dataALL.json
Group/KKU/GE-1.json
Group/KKU/GE-3.json
Group/KKU/GE-8.json
Group/MSU/dataALL.json
Group/MSU/GE-1.json
Group/MSU/GE-2.json
Group/MSU/GE-3.json
Group/MSU/GE-4.json
Group/MSU/GE-5.json
kku.html
kku_test.py
tempCodeRunnerFile.js
tempCodeRunnerFile.py
test.html
test.py
test2.html
test2.py
webscraping.py

node_modules*
*package-lock*
.DS_Store
node_modules/*
node_modules/
